* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

textarea:hover,
textarea:active,
textarea:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus,
.btn-secondary:active:focus {
  background-color: #17252a;
  border-color: transparent;
}

.container-fluid {
  padding: 0;
  margin: 0;
}
